:root {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  background-color: #71c9ce;
  color: #e3fdfd;
  font-family: 'Roboto', sans-serif;
}

nav,
footer {
  position: relative;
}

nav > div {
  position: fixed;
  bottom: 45%;
  z-index: 3;
  left: 2%;
}

nav > div > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
nav > div > ul::before {
  content: '';
  position: absolute;
  background-color: #476667;
  height: 100vh;
  width: 1vw;
  left: 40%;
  bottom: -110vh;
}

nav > div > ul > li {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #476667;
}

/* LANDING */
#landing {
  position: relative;
  height: 100vh;
}

#landing > .brand > h1 {
  position: absolute;
  font-size: 4rem;
  z-index: 4;
  right: -2.2%;
  top: 5%;
  font-weight: 100;
}

#landing > .brand > h1:nth-of-type(2) {
  position: absolute;
  font-size: 4rem;

  right: 1%;
  top: 1%;
  transform: rotate(180deg);
  /* color: #a6e3e9; */
}

#landing::before {
  content: '';
  position: absolute;
  height: 100vh;
  width: 54vw;
  z-index: 2;
  left: -10%;
  background-color: #cbf1f5;
}

#landing::after {
  content: '';
  position: absolute;
  height: 100vh;
  width: 54vw;
  right: -10%;
  top: 0;
  background-color: #a6e3e9;
}

#landing > .text {
  position: relative;
  z-index: 4;
  color: #71c9ce;
  font-size: 2.5rem;
  text-transform: uppercase;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#landing > .text > h1 {
  display: flex;
  height: 100%;
  align-items: center;
}

#landing > .text > h1 > span:nth-of-type(1) {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#landing > .text > h1 > span:nth-of-type(2) {
  writing-mode: vertical-rl;

  text-orientation: mixed;
}
#landing > .text > h1 > span:nth-of-type(3) {
  text-orientation: mixed;

  writing-mode: vertical-rl;
}
#landing > .text > h1 > span:nth-of-type(4) {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
#landing > .text > h1 > span:nth-of-type(5) {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#landing > .text > .links {
  position: absolute;
  bottom: 5%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* FOOTER */
footer > div {
  position: fixed;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  top: 40%;
}

footer > div::before {
  content: '';
  position: absolute;
  background-color: #476667;
  height: 100vh;
  width: 1vw;
  left: 40%;
  bottom: -105vh;
}

footer > div > a {
  text-decoration: none;
  color: #476667;
}

/* MEDIA */
@media screen and (min-width: 768px) {
  #landing > .text {
    font-size: 5rem;
  }
}
